In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df1 = pd.read_csv(r'M:/Risk Management/DW/Scorecard/TUX_Scores/Oct2024_FormattedSampleData_Scoring_DaveS.csv')

In [3]:
df2 = pd.read_csv(r'M:/Risk Management/DW/Scorecard/TUX_Scores/PARSED_PAYLOADS_DBEAVERData_OpenBKReparse.csv')

In [4]:
df3 = pd.read_csv(r'M:/Risk Management/DW/Scorecard/TUX_Scores/OpenBK_Apps.csv')

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46140 entries, 0 to 46139
Data columns (total 29 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            46140 non-null  int64
 1   AccountId                     46140 non-null  int64
 2   RequestId                     46140 non-null  int64
 3   RowId                         46140 non-null  int64
 4   RequestDate                   46140 non-null  object
 5   SourceFileName                46140 non-null  object
 6   CreditScorecardVersion        46139 non-null  object
 7   CreditScorecardName           46139 non-null  object
 8   CreditLogScore                46140 non-null  float64
 9   CreditAdjustedLogScore        46140 non-null  float64
 10  CreditProbablityToDefault     46140 non-null  float64
 11  CreditEqualizedScore          46140 non-null  int64
 12  CapacityScorecardVersion      46139 non-null  object
 13  CapacityScorecardName         46139 non-null  object
 14  CapacityLogScore              46140 non-null  float64
 15  CapacityEqualizedScore        46140 non-null  int64
 16  AverageEqualizedScore         46140 non-null  int64
 17  CapacityProbabilityToDefault  46140 non-null  float64
 18  Score                         46140 non-null  int64
 19  ScoreEcnlMod                  46140 non-null  float64
 20  ScoreEcnl                     46140 non-null  float64
 21  ScoreLgd                      46140 non-null  float64
 22  ScorePd                       46140 non-null  float64
 23  ScoreAd                       46140 non-null  float64
 24  FirstName                     46139 non-null  object
 25  LastName                      46138 non-null  object
 26  ZipCode                       46139 non-null  float64
 27  Subjectage                    45116 non-null  float64
 28  ErrorMessage                  0 non-null      float64
dtypes: float64(13), int64(8), object(8)
memory usage: 10.2+ MB

In [6]:
df1.rename(columns={'AccountId':'ACCOUNTID'}, inplace=True)

In [7]:
df1['BIGDEBTORID'] = df1['id'].astype(str).str[7:15]

In [8]:
df1['ACCOUNTID'] = pd.to_numeric(df1['ACCOUNTID'], errors='coerce').astype('Int64')
df1['BIGDEBTORID'] = pd.to_numeric(df1['BIGDEBTORID'], errors='coerce').astype('Int64')

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46140 entries, 0 to 46139
Data columns (total 30 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            46140 non-null  int64
 1   ACCOUNTID                     46140 non-null  Int64
 2   RequestId                     46140 non-null  int64
 3   RowId                         46140 non-null  int64
 4   RequestDate                   46140 non-null  object
 5   SourceFileName                46140 non-null  object
 6   CreditScorecardVersion        46139 non-null  object
 7   CreditScorecardName           46139 non-null  object
 8   CreditLogScore                46140 non-null  float64
 9   CreditAdjustedLogScore        46140 non-null  float64
 10  CreditProbablityToDefault     46140 non-null  float64
 11  CreditEqualizedScore          46140 non-null  int64
 12  CapacityScorecardVersion      46139 non-null  object
 13  CapacityScorecardName         46139 non-null  object
 14  CapacityLogScore              46140 non-null  float64
 15  CapacityEqualizedScore        46140 non-null  int64
 16  AverageEqualizedScore         46140 non-null  int64
 17  CapacityProbabilityToDefault  46140 non-null  float64
 18  Score                         46140 non-null  int64
 19  ScoreEcnlMod                  46140 non-null  float64
 20  ScoreEcnl                     46140 non-null  float64
 21  ScoreLgd                      46140 non-null  float64
 22  ScorePd                       46140 non-null  float64
 23  ScoreAd                       46140 non-null  float64
 24  FirstName                     46139 non-null  object
 25  LastName                      46138 non-null  object
 26  ZipCode                       46139 non-null  float64
 27  Subjectage                    45116 non-null  float64
 28  ErrorMessage                  0 non-null      float64
 29  BIGDEBTORID                   46140 non-null  Int64
dtypes: Int64(2), float64(13), int64(7), object(8)
memory usage: 10.6+ MB

In [10]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66733 entries, 0 to 66732
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ACCOUNTID               66733 non-null  object
 1   REQUEST_DATETIME        66733 non-null  object
 2   BIGDEBTORID             66732 non-null  float64
 3   DEBTORSTATE             66733 non-null  object
 4   BITDEBTOR__APP          66733 non-null  int64
 5   BITAPPROVED__APP        66733 non-null  object
 6   BITAPPROVEDTEST         66733 non-null  int64
 7   BITFUNDED__APP          66733 non-null  object
 8   BITFUNDEDTEST           66733 non-null  int64
 9   RE01S                   65472 non-null  float64
 10  G251B                   65472 non-null  float64
 11  INTOPENBKTYPE           32 non-null     float64
 12  TUXSC1_OPENBK           66733 non-null  int64
 13  TUXSC2_THIN             66733 non-null  int64
 14  TUXSC3_THICKDIRTY       66733 non-null  int64
 15  TUXSC4_THICKCLEAN       66733 non-null  int64
 16  NEWCREDITSCORECARDNAME  66733 non-null  object
dtypes: float64(4), int64(7), object(6)
memory usage: 8.7+ MB

In [11]:
df2['ACCOUNTID'] = df2['ACCOUNTID'].str.replace('"', '', regex=False)

In [12]:
df2['DEBTORSTATE'] = df2['DEBTORSTATE'].str.replace('"', '', regex=False)

In [13]:
df2['BITAPPROVED__APP'] = df2['BITAPPROVED__APP'].str.replace('"', '', regex=False)

In [14]:
df2['BITFUNDED__APP'] = df2['BITFUNDED__APP'].str.replace('"', '', regex=False)

In [15]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66733 entries, 0 to 66732
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ACCOUNTID               66733 non-null  object
 1   REQUEST_DATETIME        66733 non-null  object
 2   BIGDEBTORID             66732 non-null  float64
 3   DEBTORSTATE             66733 non-null  object
 4   BITDEBTOR__APP          66733 non-null  int64
 5   BITAPPROVED__APP        66733 non-null  object
 6   BITAPPROVEDTEST         66733 non-null  int64
 7   BITFUNDED__APP          66733 non-null  object
 8   BITFUNDEDTEST           66733 non-null  int64
 9   RE01S                   65472 non-null  float64
 10  G251B                   65472 non-null  float64
 11  INTOPENBKTYPE           32 non-null     float64
 12  TUXSC1_OPENBK           66733 non-null  int64
 13  TUXSC2_THIN             66733 non-null  int64
 14  TUXSC3_THICKDIRTY       66733 non-null  int64
 15  TUXSC4_THICKCLEAN       66733 non-null  int64
 16  NEWCREDITSCORECARDNAME  66733 non-null  object
dtypes: float64(4), int64(7), object(6)
memory usage: 8.7+ MB

In [16]:
df2['ACCOUNTID'] = pd.to_numeric(df2['ACCOUNTID'], errors='coerce').astype('Int64')
df2['BIGDEBTORID'] = pd.to_numeric(df2['BIGDEBTORID'], errors='coerce').astype('Int64')

In [17]:
df2.head()

,ACCOUNTID,REQUEST_DATETIME,BIGDEBTORID,DEBTORSTATE,BITDEBTOR__APP,BITAPPROVED__APP,BITAPPROVEDTEST,BITFUNDED__APP,BITFUNDEDTEST,RE01S,G251B,INTOPENBKTYPE,TUXSC1_OPENBK,TUXSC2_THIN,TUXSC3_THICKDIRTY,TUXSC4_THICKCLEAN,NEWCREDITSCORECARDNAME
0,8360040,10/31/2024,10324387,Maryland,1,False,0,False,0,0.0,0.0,NaN,0,1,0,0,Scorecard2
1,8360960,10/31/2024,10325505,Maryland,1,False,0,False,0,6.0,0.0,NaN,0,0,0,1,Scorecard4
2,8361614,10/31/2024,10326310,Michigan,1,False,0,False,0,1.0,4.0,NaN,0,1,0,0,Scorecard2
3,8360666,10/31/2024,10325151,Tennessee,1,False,0,False,0,4.0,8.0,NaN,0,0,1,0,Scorecard3
4,8362494,10/31/2024,10327347,Illinois,1,False,0,False,0,1.0,2.0,NaN,0,1,0,0,Scorecard2

In [18]:
df2.drop(columns=['TUXSC1_OPENBK', 'TUXSC2_THIN', 'TUXSC3_THICKDIRTY', 'TUXSC4_THICKCLEAN', 'NEWCREDITSCORECARDNAME'], inplace=True)

In [19]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3831 entries, 0 to 3830
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   bigaccountid  3831 non-null   int64
 1   bigdebtorid   3831 non-null   int64
 2   AppDate       3831 non-null   object
 3   intType       3831 non-null   int64
dtypes: int64(3), object(1)
memory usage: 119.8+ KB

In [20]:
df3.rename(columns={'bigaccountid':'ACCOUNTID', 'bigdebtorid':'BIGDEBTORID', 'intType':'OpenBKType'}, inplace=True)

In [21]:
df3['OpenBKType'] = pd.to_numeric(df3['OpenBKType'], errors='coerce').astype(int)

In [22]:
df3.head()

   ACCOUNTID  BIGDEBTORID     AppDate  OpenBKType
0    8363732     10328853  10/31/2024          13
1    8329454     10287632  10/18/2024          13
2    8354380     10317575  10/28/2024          13
3    8323521     10280491  10/16/2024          13
4    8318880     10274959  10/14/2024          13

In [23]:
df_newbkapp_sc = pd.merge(df2, df3, on=['ACCOUNTID', 'BIGDEBTORID'], how='left')

In [24]:
df_newbkapp_sc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66733 entries, 0 to 66732
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ACCOUNTID         66733 non-null  Int64
 1   REQUEST_DATETIME  66733 non-null  object
 2   BIGDEBTORID       66732 non-null  Int64
 3   DEBTORSTATE       66733 non-null  object
 4   BITDEBTOR__APP    66733 non-null  int64
 5   BITAPPROVED__APP  66733 non-null  object
 6   BITAPPROVEDTEST   66733 non-null  int64
 7   BITFUNDED__APP    66733 non-null  object
 8   BITFUNDEDTEST     66733 non-null  int64
 9   RE01S             65472 non-null  float64
 10  G251B             65472 non-null  float64
 11  INTOPENBKTYPE     32 non-null     float64
 12  AppDate           3765 non-null   object
 13  OpenBKType        3765 non-null   float64
dtypes: Int64(2), float64(4), int64(3), object(5)
memory usage: 7.3+ MB

In [25]:
df_newbkapp_sc['OpenBKType'] = df_newbkapp_sc['OpenBKType'].fillna(0).astype(int)

In [26]:
df_newbkapp_sc.head()

,ACCOUNTID,REQUEST_DATETIME,BIGDEBTORID,DEBTORSTATE,BITDEBTOR__APP,BITAPPROVED__APP,BITAPPROVEDTEST,BITFUNDED__APP,BITFUNDEDTEST,RE01S,G251B,INTOPENBKTYPE,AppDate,OpenBKType
0,8360040,10/31/2024,10324387,Maryland,1,False,0,False,0,0.0,0.0,NaN,NaN,0
1,8360960,10/31/2024,10325505,Maryland,1,False,0,False,0,6.0,0.0,NaN,NaN,0
2,8361614,10/31/2024,10326310,Michigan,1,False,0,False,0,1.0,4.0,NaN,10/31/2024,7
3,8360666,10/31/2024,10325151,Tennessee,1,False,0,False,0,4.0,8.0,NaN,NaN,0
4,8362494,10/31/2024,10327347,Illinois,1,False,0,False,0,1.0,2.0,NaN,NaN,0

In [27]:
segment = [
    (df_newbkapp_sc['OpenBKType'].isin([7, 13])),
    (df_newbkapp_sc['OpenBKType'] == 0) & ((df_newbkapp_sc['RE01S'] < 2) | (df_newbkapp_sc['RE01S'].isna())),
    (df_newbkapp_sc['OpenBKType'] == 0) & ((df_newbkapp_sc['RE01S'] >= 2) & (df_newbkapp_sc['G251B'] > 1)),
    (df_newbkapp_sc['OpenBKType'] == 0) & ((df_newbkapp_sc['RE01S'] >= 2) & (df_newbkapp_sc['G251B'] <= 1))
]

In [28]:
values = ['Scorecard1', 'Scorecard2', 'Scorecard3', 'Scorecard4']

In [29]:
df_newbkapp_sc['NewCreditScorecardName'] = np.select(segment, values, default='Unknown')

In [30]:
df_newbkapp_sc['TUXSC1_OpenBK'] = np.where(df_newbkapp_sc['OpenBKType'].isin([7, 13]), 1, 0)

In [31]:
df_newbkapp_sc['TUXSC2_Thin'] = np.where((df_newbkapp_sc['OpenBKType'] == 0) & ((df_newbkapp_sc['RE01S'] < 2) | (df_newbkapp_sc['RE01S'].isna())), 1, 0)

In [32]:
df_newbkapp_sc['TUXSC3_ThickDirty'] = np.where((df_newbkapp_sc['OpenBKType'] == 0) & ((df_newbkapp_sc['RE01S'] >= 2) & (df_newbkapp_sc['G251B'] > 1)), 1, 0)

In [33]:
df_newbkapp_sc['TUXSC4_ThickClean'] = np.where((df_newbkapp_sc['OpenBKType'] == 0) & ((df_newbkapp_sc['RE01S'] >= 2) & (df_newbkapp_sc['G251B'] <= 1)), 1, 0)

In [34]:
df_newbkapp_sc.head()

,ACCOUNTID,REQUEST_DATETIME,BIGDEBTORID,DEBTORSTATE,BITDEBTOR__APP,BITAPPROVED__APP,BITAPPROVEDTEST,BITFUNDED__APP,BITFUNDEDTEST,RE01S,G251B,INTOPENBKTYPE,AppDate,OpenBKType,NewCreditScorecardName,TUXSC1_OpenBK,TUXSC2_Thin,TUXSC3_ThickDirty,TUXSC4_ThickClean
0,8360040,10/31/2024,10324387,Maryland,1,False,0,False,0,0.0,0.0,NaN,NaN,0,Scorecard2,0,1,0,0
1,8360960,10/31/2024,10325505,Maryland,1,False,0,False,0,6.0,0.0,NaN,NaN,0,Scorecard4,0,0,0,1
2,8361614,10/31/2024,10326310,Michigan,1,False,0,False,0,1.0,4.0,NaN,10/31/2024,7,Scorecard1,1,0,0,0
3,8360666,10/31/2024,10325151,Tennessee,1,False,0,False,0,4.0,8.0,NaN,NaN,0,Scorecard3,0,0,1,0
4,8362494,10/31/2024,10327347,Illinois,1,False,0,False,0,1.0,2.0,NaN,NaN,0,Scorecard2,0,1,0,0

In [35]:
df_final = pd.merge(df1, df_newbkapp_sc, on=['ACCOUNTID', 'BIGDEBTORID'], how='left')

In [36]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46140 entries, 0 to 46139
Data columns (total 47 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            46140 non-null  int64
 1   ACCOUNTID                     46140 non-null  Int64
 2   RequestId                     46140 non-null  int64
 3   RowId                         46140 non-null  int64
 4   RequestDate                   46140 non-null  object
 5   SourceFileName                46140 non-null  object
 6   CreditScorecardVersion        46139 non-null  object
 7   CreditScorecardName           46139 non-null  object
 8   CreditLogScore                46140 non-null  float64
 9   CreditAdjustedLogScore        46140 non-null  float64
 10  CreditProbablityToDefault     46140 non-null  float64
 11  CreditEqualizedScore          46140 non-null  int64
 12  CapacityScorecardVersion      46139 non-null  object
 13  CapacityScorecardName         46139 non-null  object
 14  CapacityLogScore              46140 non-null  float64
 15  CapacityEqualizedScore        46140 non-null  int64
 16  AverageEqualizedScore         46140 non-null  int64
 17  CapacityProbabilityToDefault  46140 non-null  float64
 18  Score                         46140 non-null  int64
 19  ScoreEcnlMod                  46140 non-null  float64
 20  ScoreEcnl                     46140 non-null  float64
 21  ScoreLgd                      46140 non-null  float64
 22  ScorePd                       46140 non-null  float64
 23  ScoreAd                       46140 non-null  float64
 24  FirstName                     46139 non-null  object
 25  LastName                      46138 non-null  object
 26  ZipCode                       46139 non-null  float64
 27  Subjectage                    45116 non-null  float64
 28  ErrorMessage                  0 non-null      float64
 29  BIGDEBTORID                   46140 non-null  Int64
 30  REQUEST_DATETIME              45092 non-null  object
 31  DEBTORSTATE                   45092 non-null  object
 32  BITDEBTOR__APP                45092 non-null  float64
 33  BITAPPROVED__APP              45092 non-null  object
 34  BITAPPROVEDTEST               45092 non-null  float64
 35  BITFUNDED__APP                45092 non-null  object
 36  BITFUNDEDTEST                 45092 non-null  float64
 37  RE01S                         44262 non-null  float64
 38  G251B                         44262 non-null  float64
 39  INTOPENBKTYPE                 17 non-null     float64
 40  AppDate                       2526 non-null   object
 41  OpenBKType                    45092 non-null  float64
 42  NewCreditScorecardName        45092 non-null  object
 43  TUXSC1_OpenBK                 45092 non-null  float64
 44  TUXSC2_Thin                   45092 non-null  float64
 45  TUXSC3_ThickDirty             45092 non-null  float64
 46  TUXSC4_ThickClean             45092 non-null  float64
dtypes: Int64(2), float64(24), int64(7), object(14)
memory usage: 16.6+ MB

In [37]:
sample_sc1_counts = df1['CreditScorecardName'].value_counts().get('Scorecard1', 0)
print(sample_sc1_counts)

sample_sc2_counts = df1['CreditScorecardName'].value_counts().get('Scorecard2', 0)
print(sample_sc2_counts)

sample_sc3_counts = df1['CreditScorecardName'].value_counts().get('Scorecard3', 0)
print(sample_sc3_counts)

sample_sc4_counts = df1['CreditScorecardName'].value_counts().get('Scorecard4', 0)
print(sample_sc4_counts)

4491
15503
18460
7685

In [41]:
merged_orig_sc1_counts = df_final['CreditScorecardName'].value_counts().get('Scorecard1', 0)
print(merged_orig_sc1_counts)

merged_orig_sc2_counts = df_final['CreditScorecardName'].value_counts().get('Scorecard2', 0)
print(merged_orig_sc2_counts)

merged_orig_sc3_counts = df_final['CreditScorecardName'].value_counts().get('Scorecard3', 0)
print(merged_orig_sc3_counts)

merged_orig_sc4_counts = df_final['CreditScorecardName'].value_counts().get('Scorecard4', 0)
print(merged_orig_sc4_counts)

4491
15503
18460
7685

In [38]:
parsed_sc1_counts = df_newbkapp_sc['NewCreditScorecardName'].value_counts().get('Scorecard1', 0)
print(parsed_sc1_counts)

parsed_sc2_counts = df_newbkapp_sc['NewCreditScorecardName'].value_counts().get('Scorecard2', 0)
print(parsed_sc2_counts)

parsed_sc3_counts = df_newbkapp_sc['NewCreditScorecardName'].value_counts().get('Scorecard3', 0)
print(parsed_sc3_counts)

parsed_sc4_counts = df_newbkapp_sc['NewCreditScorecardName'].value_counts().get('Scorecard4', 0)
print(parsed_sc4_counts)

3765
22906
28820
11242

In [40]:
merged_sc1_counts = df_final['NewCreditScorecardName'].value_counts().get('Scorecard1', 0)
print(merged_sc1_counts)

merged_sc2_counts = df_final['NewCreditScorecardName'].value_counts().get('Scorecard2', 0)
print(merged_sc2_counts)

merged_sc3_counts = df_final['NewCreditScorecardName'].value_counts().get('Scorecard3', 0)
print(merged_sc3_counts)

merged_sc4_counts = df_final['NewCreditScorecardName'].value_counts().get('Scorecard4', 0)
print(merged_sc4_counts)

2526
15400
19459
7707

In [42]:
df_test = pd.merge(df_newbkapp_sc, df1, on=['ACCOUNTID', 'BIGDEBTORID'], how='left')

In [43]:
test_orig_sc1_counts = df_test['CreditScorecardName'].value_counts().get('Scorecard1', 0)
print(test_orig_sc1_counts)

test_orig_sc2_counts = df_test['CreditScorecardName'].value_counts().get('Scorecard2', 0)
print(test_orig_sc2_counts)

test_orig_sc3_counts = df_test['CreditScorecardName'].value_counts().get('Scorecard3', 0)
print(test_orig_sc3_counts)

test_orig_sc4_counts = df_test['CreditScorecardName'].value_counts().get('Scorecard4', 0)
print(test_orig_sc4_counts)

4413
15128
18025
7525

In [44]:
test_orig_sc1_counts = df_test['NewCreditScorecardName'].value_counts().get('Scorecard1', 0)
print(test_orig_sc1_counts)

test_orig_sc2_counts = df_test['NewCreditScorecardName'].value_counts().get('Scorecard2', 0)
print(test_orig_sc2_counts)

test_orig_sc3_counts = df_test['NewCreditScorecardName'].value_counts().get('Scorecard3', 0)
print(test_orig_sc3_counts)

test_orig_sc4_counts = df_test['NewCreditScorecardName'].value_counts().get('Scorecard4', 0)
print(test_orig_sc4_counts)

3765
22906
28820
11242

In [45]:
sample_sc1_counts = df1['CreditScorecardName'].value_counts().get('Scorecard1', 0)
print(sample_sc1_counts)

sample_sc2_counts = df1['CreditScorecardName'].value_counts().get('Scorecard2', 0)
print(sample_sc2_counts)

sample_sc3_counts = df1['CreditScorecardName'].value_counts().get('Scorecard3', 0)
print(sample_sc3_counts)

sample_sc4_counts = df1['CreditScorecardName'].value_counts().get('Scorecard4', 0)
print(sample_sc4_counts)

4491
15503
18460
7685